.loginButtons {
  display: flex;
  margin-top: 3.2rem;
  justify-content: space-between;
  width: 420px;
}

.authWrapper {
  margin-top: 3.2rem;
}

.loginButton {
  background: #ff013e;
  border: 1px solid #ff013e;
  border-radius: 60px;
  outline: none;
  padding: 20px 40px;
  font-family: "rubikmedium";
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.signInButton {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 60px;
  outline: none;
  padding: 20px 50px;
  font-family: "rubikmedium";
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
